.banner2 {
  background-image: url("../../public/Images/Untitled design (2).png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  margin-top: 40px;
}
.contact_us_btn {
  background-image: linear-gradient(to right, #fec826, #f3a61d);
  color: #171e27;
  border-radius: 35px;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  height: 45px;
  margin-top: 10px;
}
.top_banner{
    display: grid;
    grid-template-columns: 40% 50%;
    width: 75%;
    margin: auto;
    gap: 150px;
}
.top_banner>div{
    text-align: left;
}
.top_banner>div h1{
    font-size: 42px;
    color: #F3A61D;
}
.top_banner>div h3{
    font-size: 32px;
    font-weight: 400;
    width: 500px;
}
.top_banner>div h4{
    font-size: 30px;
    font-weight: 400;
}

