.navbar2 {
  background-color: #171e27;
  margin-top: -3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 92px;
  padding: 5px 105px 0px 105px;
  color: white;
}
.gateway_btn {
  background-color: #fdecec;
  width: 140px;
  height: 43px;
  border: none;
  border-radius: 30px;
  margin-left: -60px;
  color: #f05656;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.navbar2 > div {
  display: flex;
  align-items: center;
}
.prod_about {
  font-size: 24px;
  gap: 70px;
  margin-right: 100px;
}
.dropdown button {
  padding: 30px 10px;
  font-size: 24px;
  background-color: #171e27;
  border: none;
  border-bottom: 5px solid #171e27;
  color: white;
  display: flex;
  gap:10px;
  align-items: center;
  cursor: pointer;
}
.dropdown button:hover{
    border-bottom: 5px solid white;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 77%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  z-index: 1;
  margin-left: -810px;
  margin-top: 533px;
  height: 440px;
  color: black;
}
.contain {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px 70px;
  gap: 50px;
  text-align: left;
}
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}
.filed1 > div {
  display: flex;
  justify-content: left;
  gap: 30px;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
}
.filed1 h1 {
  font-size: 20px;
  font-weight: 400;
}
.filed1 p {
  font-size: 15px;
  margin-top: -10px;
}
.filed1 img {
  width: 50px;
}
.filed2 > div {
  display: flex;
  justify-content: left;
  gap: 30px;
  align-items: center;
  margin-top: 10px;
}
.filed2 h1 {
  font-size: 20px;
  font-weight: 400;
}
.filed2 p {
  font-size: 15px;
  margin-top: -10px;
}
.filed2 img {
  width: 50px;
}
