.navbar {
  background-color: #171e27;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  padding: 0 60px;
  margin-top: -3px;
}
.login_btn {
  width: 120px;
  background-image: linear-gradient(to right, #fec826, #f3a61d);
  color: #171e27;
  border-radius: 35px;
  padding: 0;
}
.login_btn > div {
  height: 45px;
  font-weight: 500;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-left: -80px;
}
.container{
    display: flex;
    gap: 10px;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    width: 375px;
    padding: 6px;
    background-color: #81878C;
    border-radius: 10px;
    padding-left: 15px;
}
.container>input{
    background-color: #81878C;
    border: none;
    width: 80%;
}
.container>input::placeholder{
    color: white;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.logo>div p{
    margin-top: -20px;
    font-size: 9px;
    margin-left: 2px;
    color: #FFFFFF;
}
.logo h1{
    font-size: 30px;
    font-weight: 100;
}
