.navbar2 {
  background-color: #171e27;
  margin-top: -3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 92px;
  padding: 5px 105px 0px 105px;
  color: white;
}
.gateway_btn{
    background-color: #FDECEC;
    width: 140px;
    height: 43px;
    border: none;
    border-radius: 30px;
    margin-left: -60px;
    color: #F05656;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.navbar2>div{
    display: flex;
    align-items: center;
}
.prod_about{
    font-size: 24px;
    gap: 70px;
    margin-right: 100px;
}